---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
const props = {
    title: "",
    description: "",
    image: "home",
};

import hebrewDate from "hebrew-date";

import torahReadingsJson from "../../public/torah_readings.json";
import torahLeapReadingsJson from "../../public/torah_readings_leap.json";
import festivalReadingsJson from "../../public/festival_readings.json";
import {
    TorahReadings,
    TorahReadingType,
    FestivalReadings,
    FestivalReadingType,
} from "./data";

let parsedTorahReadings: TorahReadingType[] = [];
let parsedLeapTorahReadings: TorahReadingType[] = [];
let parsedFestivalReadings: FestivalReadingType[] = [];
let error;

try {
    parsedTorahReadings = TorahReadings.parse(torahReadingsJson);
    parsedLeapTorahReadings = TorahReadings.parse(torahLeapReadingsJson);
    parsedFestivalReadings = FestivalReadings.parse(festivalReadingsJson);
} catch (err) {
    error = err;
    console.error("Error validating Torah readings data:", err);
}

let holidayReading;

parsedFestivalReadings.forEach((reading) => {
    if (reading.date && reading.month) {
        if (
            hebrewDate(new Date()).month === reading.month &&
            hebrewDate(new Date()).date === reading.date
        ) {
            holidayReading = `Day of ${reading.holiday} is the ${
                reading.date
            }th of ${hebrewDate(new Date()).month_name}`;
        }
    }
});

function isHebrewLeapYear(year: number): boolean {
    const yearInCycle = year % 19;
    return [0, 3, 6, 8, 11, 14, 17].includes(yearInCycle);
}

const hebrewDateToday = hebrewDate(new Date());
const hebrewYear = hebrewDateToday.year;

let displayTorahReading;

if (isHebrewLeapYear(hebrewYear)) {
    displayTorahReading = parsedLeapTorahReadings;
} else {
    displayTorahReading = parsedTorahReadings;
}
---

<Layout {...props}>
    <!-- <nav>
        <ul>
            {
                displayTorahReadings.map((reading) => (
                    <li>
                        <Link href={`#week-${reading.week}`}>
                            Week {reading.week}
                        </Link>
                    </li>
                ))
            }
        </ul>
    </nav> -->
    <main>
        <h1>Weekly Scripture Reading</h1>
        <!-- {holidayReading ? <p>{holidayReading}</p> : <p>No holiday reading</p>} -->
        <article>
            {
                error ? (
                    <p>
                        Sorry, there was an error loading the Torah readings
                        data.
                    </p>
                ) : (
                    <>
                        <ul role="list">
                            {displayTorahReading.map((reading) => (
                                <li>
                                    <span id={`week-${reading.week}`}>
                                        Week {reading.week}
                                    </span>
                                    <div>
                                        <h3>
                                            <i>
                                                Parashat{" "}
                                                {reading.portion.hebrew}
                                            </i>
                                        </h3>
                                        <p>{reading.portion.english}</p>
                                    </div>
                                    <ul class="fa-ul">
                                        <li>
                                            <span class="fa-li">
                                                <i class="fa-solid fa-scroll-torah" />
                                            </span>
                                            Torah: {reading.book}{" "}
                                            {reading.verses}
                                        </li>
                                        <li>
                                            <span class="fa-li">
                                                <i class="fa-solid fa-book-tanakh" />
                                            </span>
                                            Haftorah:
                                            {reading.haftorah.map(
                                                (haftorahItem, index) => (
                                                    <span>
                                                        {(index > 0
                                                            ? ", "
                                                            : "") +
                                                            haftorahItem.book +
                                                            " " +
                                                            haftorahItem.verses}
                                                    </span>
                                                )
                                            )}
                                        </li>
                                        <li>
                                            <span class="fa-li">
                                                <i class="fa-solid fa-book-bible" />
                                            </span>
                                            Apostolic:
                                            {reading.apostolic.map(
                                                (apolisticItem, index) => (
                                                    <span>
                                                        {(index > 0
                                                            ? ", "
                                                            : "") +
                                                            apolisticItem.book +
                                                            " " +
                                                            apolisticItem.verses}
                                                    </span>
                                                )
                                            )}
                                        </li>
                                    </ul>
                                </li>
                            ))}
                        </ul>
                    </>
                )
            }
        </article>
        <section>
            <p>
                Collected from <Link href="https://torahportions.ffoz.org/">
                    FFOZ
                </Link>, <Link
                    href="https://torahresource.com/resources/weekly-parashah/"
                >
                    Torah Resource
                </Link>, and the <Link href="https://tlvbiblesociety.org/">
                    Tree of Life Bible
                </Link>.
            </p>
        </section>
    </main>
</Layout>
