---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
import { HebrewCalendar, HDate, Event } from "@hebcal/core";
import { getLeyningForParshaHaShavua } from "@hebcal/leyning";
const props = {
    title: "",
    description: "",
    image: "home",
};

const currentHebrewYear = new HDate().getFullYear();

function getSheminiAtzeretDate(year: number) {
    const holidays = HebrewCalendar.getHolidaysForYear(year);
    let sheminiAtzeretDate;

    for (let [hebrewDate, holidayEvents] of Object.entries(holidays)) {
        for (let holidayEvent of holidayEvents) {
            if (holidayEvent.getDesc() === "Shmini Atzeret") {
                sheminiAtzeretDate = holidayEvent.getDate().greg();
                break;
            }
        }
        if (sheminiAtzeretDate) break;
    }
    return sheminiAtzeretDate;
}

const readingsData = [];
let startDate = getSheminiAtzeretDate(currentHebrewYear);
let endDate = getSheminiAtzeretDate(currentHebrewYear + 1);

const options = {
    start: new HDate(startDate),
    end: new HDate(endDate),
    sedrot: true,
    noHolidays: true,
};

const events = HebrewCalendar.calendar(options);

for (const ev of events) {
    const hd = ev.getDate();
    const date = hd.greg();
    const reading = getLeyningForParshaHaShavua(ev, false);
    const readingData = {
        date: date.toLocaleDateString(),
        hebrewDate: hd.toString(),
        portion: ev.getDesc(),
        readingSummary: reading.summary,
        haftara: reading.haftara,
    };
    readingsData.push(readingData);
}
---

<Layout {...props}>
    <main>
        <h1>Weekly Scripture Reading</h1>
        <article>
            <ul role="list">
                {
                    readingsData.map((reading) => (
                        <li>
                            <span>
                                <time>{reading.date}</time> -
                                <time>{reading.hebrewDate}</time>
                            </span>
                            <h3>{reading.portion}</h3>
                            <ul class="fa-ul">
                                <li>
                                    <span class="fa-li">
                                        <i class="fa-solid fa-scroll-torah" />
                                    </span>
                                    Torah: {reading.readingSummary}
                                </li>
                                <li>
                                    <span class="fa-li">
                                        <i class="fa-solid fa-book-tanakh" />
                                    </span>
                                    Haftara: {reading.haftara}
                                </li>
                            </ul>
                        </li>
                    ))
                }
            </ul>
        </article>
    </main>
</Layout>
