---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
const props = {
    title: "",
    description: "",
    image: "home",
};
import torahReadingsJson from "../../public/torah_readings.json";
import { TorahReadings, TorahReadingType } from "./data";

let parsedTorahReadings: TorahReadingType[] = [];
let error;

try {
    parsedTorahReadings = TorahReadings.parse(torahReadingsJson);
} catch (err) {
    error = err;
    console.error("Error validating Torah readings data:", err);
}
---

<Layout {...props}>
    <nav>
        <ul>
            {
                parsedTorahReadings.map((reading) => (
                    <li>
                        <Link href={`#week-${reading.week}`}>
                            Week {reading.week}
                        </Link>
                    </li>
                ))
            }
        </ul>
    </nav>
    <main>
        {
            error ? (
                <p>
                    Sorry, there was an error loading the Torah readings data.
                </p>
            ) : (
                <>
                    {parsedTorahReadings.map((reading) => (
                        <article>
                            <span id={`week-${reading.week}`}>
                                {" "}
                                Week {reading.week}
                            </span>
                            <h3>
                                <i>{reading.portion.hebrew}</i>
                            </h3>
                            <p>{reading.portion.english}</p>
                            <ul>
                                <li>
                                    Torah: {reading.book} {reading.verses}
                                </li>

                                <li>
                                    Haftarah:{" "}
                                    {reading.haftorah.map(
                                        (haftorahItem, index) => (
                                            <span>
                                                {(index > 0 ? ", " : "") +
                                                    haftorahItem.book +
                                                    " " + haftorahItem.verses}
                                            </span>
                                        )
                                    )}{" "}
                                </li>

                                <li>
                                    Apostolic:{" "}
                                    {reading.apostolic.map(
                                        (apolisticItem, index) => (
                                            <span>
                                                {(index > 0 ? ", " : "") +
                                                    apolisticItem.book +
                                                    " " + apolisticItem.verses}
                                            </span>
                                        )
                                    )}{" "}
                                </li>
                            </ul>
                        </article>
                    ))}
                </>
            )
        }
    </main>
</Layout>
