---
import Layout from "../layouts/BaseLayout.astro";
import Link from "../components/Link.astro";
const props = {
    title: "",
    description: "",
    image: "home",
};
import torahReadingsJson from "../../public/torah_readings.json";
import { TorahReadings, TorahReadingType } from "./data";

let parsedTorahReadings: TorahReadingType[] = [];
let error;

try {
    parsedTorahReadings = TorahReadings.parse(torahReadingsJson);
} catch (err) {
    error = err;
    console.error("Error validating Torah readings data:", err);
}
---

<Layout {...props}>
    <nav>
        <ul>
            {
                parsedTorahReadings.map((reading) => (
                    <li>
                        <Link href={`#week-${reading.week}`}>
                            Week {reading.week}
                        </Link>
                    </li>
                ))
            }
        </ul>
    </nav>

    <main>
        {
            error ? (
                <p>
                    Sorry, there was an error loading the Torah readings data.
                </p>
            ) : (
                <>
                    {parsedTorahReadings.map((reading) => (
                        <article>
                            <span id={`week-${reading.week}`}>
                                {" "}
                                Week {reading.week}
                            </span>
                            <h3>
                                <i>{reading.portion}</i>
                            </h3>
                            <ul>
                                <li>
                                    Torah: {reading.book} {reading.verses}
                                </li>
                                <li>Torah Resources</li>
                                <ul>
                                    <li>Haftorah </li>
                                    <ul>
                                        {reading.torah_resource.haftorah.map(
                                            (haftorah, index) => (
                                                <li>
                                                    {(index > 0 ? ", " : "") +
                                                        haftorah.book +
                                                        " " +
                                                        haftorah.verses +
                                                        (index === 0
                                                            ? "(E)"
                                                            : "(H)")}
                                                </li>
                                            )
                                        )}
                                    </ul>

                                    <li>
                                        Brit Chadasha:{" "}
                                        {reading.torah_resource.apostolic.book}{" "}
                                        {
                                            reading.torah_resource.apostolic
                                                .verses
                                        }
                                    </li>
                                </ul>
                                <li>FFOZ</li>
                                <ul>
                                    <li>
                                        Prophets: {reading.ffoz.prophets.book}{" "}
                                        {reading.ffoz.prophets.verses}
                                    </li>
                                    <li>
                                        Gospel: {reading.ffoz.gospel.book}{" "}
                                        {reading.ffoz.gospel.verses}
                                    </li>
                                </ul>
                            </ul>
                        </article>
                    ))}
                </>
            )
        }

        <Link href="../../public/torah_readings.json">Full json</Link>

        <details>
            <summary
                >What is the difference between Etz Hayim and Hertz?</summary
            >
            <p>
                These two versions represent different selections of Haftarah
                readings that are associated with the weekly Torah portion in
                Jewish liturgical practice.
            </p>
        </details>
    </main>
</Layout>
